.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.my-card {
    margin: 20px;
    min-width: 320px;
}

.recipe-line {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 30px;
}

.cont2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.cont3 {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
}

.numberof {
    font-size: 3rem;
    color: white;
}

.user-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}