<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js" defer></script>
    <title>EasyCooking</title>
    <link rel="icon" href="/static/img/icon.png" type="image/png">
</head>
<body>
<header>
    <div class="cont-text-header">
        <div>
            <h1 class="header-text">EasyCooking🍳</h1>
        </div>
    </div>
<body>
<main>
    <div class="cont">
        <div class="menu-for-buttons">
            {% set buttons = [["Все рецепты", "all_recipes"], ["Возможные рецепты", "possible_recipes"], ["Создать свой рецепт", "make_recipe"], ["Мои рецепты", "my_recipes"]] %}
            {% for i in buttons %}
                <div class="">
                    <button class="btn btn-outline-warning m-3" name="menu-buttons" value={{ i[1] }} type="submit">{{ i[0] }}</button>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
</form>
</body>
</html>