<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js" defer></script>
    <title>EasyCooking</title>
    <link rel="icon" href="/static/img/icon.png" type="image/png">
</head>
<body>
<header>
    <div class="cont-text-header">
        <div>
            <h1 class="header-text">EasyCooking🍳</h1>
        </div>
    </div>
    <div class="cont-header-cont-header">
        <div style="width: 100%;">
            <div class="cont-button-header">
                <a class="header-button" href="http://127.0.0.1:8080/sing_up">Sing Up</a>
            </div>
            <div class="cont-button-header">
                <a class="header-button" href="http://127.0.0.1:8080/sing_in">Sing In</a>
            </div>
        </div>
    </div>
</header>
</body>
</html>