<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js" defer></script>
    <title>EasyCooking</title>
    <link rel="icon" href="/static/img/icon.png" type="image/png">
</head>
<body>
<header>
    <div class="cont-text-header">
        <div>
            <h1 class="header-text">EasyCooking🍳</h1>
        </div>
    </div>
    <div class="cont-header-cont-header">
        <div style="width: 100%;">
            <form action="/index" method="POST">
                <div class="cont-button-header">
                    <button class="header-button" name="singing" value="sing_up" type="submit">Sing Up</button>
                </div>
                <div class="cont-button-header">
                    <button class="header-button" name="singing" value="sing_in" type="submit">Sing In</button>
                </div>
            </form>
        </div>
    </div>
</header>
</body>
</html>