<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_profil.css">
    <script src="../static/js/script.js" defer></script>
    <title>EasyCooking</title>
    <link rel="icon" href="/static/img/icon.png" type="image/png">
</head>
<body>
<header>
<div class="cont-start">
    <button class="img-button">
        <img src="https://www.shutterstock.com/image-vector/vector-flat-illustration-grayscale-avatar-600nw-2281862025.jpg" alt="" class="user-img">
    </button>
    <div class="cont">
        <p>EasyCooking {{ username }}</p>  
    </div>
</div>
</header>
</body>

</html>