<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_recipe_filter.css">
    <script src="../static/js/script.js" defer></script>
    <title>Document</title>
    <link rel="icon" href="/static/img/icon.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body class="body">
<header>
    <div class="cont">
        <h1 style="color: bisque;"><i>EasyCooking: Создание рецептов</i></h1>
    </div>
</header>
<hr>
<form method="POST" action="/submit_make_recipe/{{username}}" enctype="multipart/form-data">
    <div class="cont">
        <div class="cont-for-inputs">
            <div>
                <label for="name-input" class="form-label"><h3>Поиск по названию</h3></label>
                <input type="text" class="form-control input" id="name-input" placeholder="название"
                       style="width: 100%; background-color: rgb(175, 78, 8);" name="name">
            </div>
            <label><input class="listofproducts" name="needofall" value='Yes' type="checkbox">Все пункты должны быть обязательны</label>
            <details class="products4cooking">
                <summary class="dropdown-toggle">Выбери тип блюда</summary>
                    {% set recipe_types = [['Завтрак', 'breakfast'], ['Обед', 'lunch'], ['Ужин', 'dinner'], ['Десерт', 'dessert'], ['Суп', 'soup'], ['Салат', 'salad'], ['Напиток', 'drink'], ['Закуска', 'snack'], ['Выпечка', 'bakery']] %}
                    {% for i in recipe_types %}
                    <div class="">
                        <label><input class="listofproducts" name="recipe_types" value={{ i[1] }} type="checkbox">{{ i[0] }}</label>
                    </div>
                    {% endfor %}
            </details>
            <details class="products4cooking">
                <summary class="dropdown-toggle">Выбери сложность блюда</summary>
                    {% set recipe_difficulties = [['Простой', 'easy'], ['Средний', 'medium'], ['Сложный', 'hard']] %}
                    {% for i in recipe_difficulties %}
                    <div class="">
                        <label><input class="listofproducts" name="recipe_dif" value={{ i[1] }} type="radio">{{ i[0] }}</label>
                    </div>
                    {% endfor %}
            </details>
            <details class="products4cooking">
                <summary class="dropdown-toggle">Выбери продукты, нужные для рецепта</summary>
                <details class="products4cooking">
                    <summary class="dropdown-toggle">Молочные продукты</summary>
                        {% set dairy = [['Молоко', 'milk'], ['Сметана', 'sour_cream'], ['Творог', 'curd'], ['Йогурт', 'yogurt'], ['Сливки', 'cream'], ['Кефир', 'kefir'], ['Масло сливочное', 'butter']] %}
                        {% for i in dairy %}
                        <div class="">
                            <label><input class="listofproducts" name="ingredients" value={{ i[1] }} type="checkbox">{{ i[0] }}</label>
                        </div>
                        {% endfor %}
                </details>
                <details class="products4cooking">
                    <summary class="dropdown-toggle">Мясные продукты</summary>
                        {% set meat = [['Говядина', 'beef'], ['Свинина', 'pork'], ['Курица', 'chicken'], ['Индейка', 'turkey'], ['Баранина', 'lamb'], ['Колбаса', 'sausage'], ['Ветчина', 'ham']] %}
                        {% for i in meat %}
                        <div class="">
                            <label><input class="listofproducts" name="ingredients" value={{ i[1] }} type="checkbox">{{ i[0] }}</label>
                        </div>
                        {% endfor %}
                </details>
                <details class="products4cooking">
                    <summary class="dropdown-toggle">Овощи</summary>
                        {% set vegetables = [['Картофель', 'potato'], ['Морковь', 'carrot'], ['Огурец', 'cucumber'], ['Помидор', 'tomato'], ['Капуста', 'cabbage'], ['Перец', 'pepper'], ['Лук', 'onion'], ['Чеснок', 'garlic']] %}
                        {% for i in vegetables %}
                        <div class="">
                            <label><input class="listofproducts" name="ingredients" value={{ i[1] }} type="checkbox">{{ i[0] }}</label>
                        </div>
                        {% endfor %}
                </details>
                <details class="products4cooking">
                    <summary class="dropdown-toggle">Фрукты</summary>
                        {% set fruits = [['Яблоко', 'apple'], ['Банан', 'banana'], ['Апельсин', 'orange'], ['Груша', 'pear'], ['Виноград', 'grape'], ['Киви', 'kiwi'], ['Ананас', 'pineapple']] %}
                        {% for i in fruits %}
                        <div class="">
                            <label><input class="listofproducts" name="ingredients" value={{ i[1] }} type="checkbox">{{ i[0] }}</label>
                        </div>
                        {% endfor %}
                </details>
                <details class="products4cooking">
                    <summary class="dropdown-toggle">Хлеб и крупы</summary>
                        {% set grains = [['Хлеб', 'bread'], ['Макароны', 'pasta'], ['Рис', 'rice'], ['Гречка', 'buckwheat'], ['Овсянка', 'oatmeal'], ['Мука', 'flour'], ['Кукуруза', 'corn']] %}
                        {% for i in grains %}
                        <div class="">
                            <label><input class="listofproducts" name="ingredients" value={{ i[1] }} type="checkbox">{{ i[0] }}</label>
                        </div>
                        {% endfor %}
                </details>
                <details class="products4cooking">
                    <summary class="dropdown-toggle">Морепродукты</summary>
                        {% set seafood = [['Рыба', 'fish'], ['Креветки', 'shrimp'], ['Мидии', 'mussels'], ['Кальмар', 'squid'], ['Лосось', 'salmon'], ['Тунец', 'tuna']] %}
                        {% for i in seafood %}
                        <div class="">
                            <label><input class="listofproducts" name="ingredients" value={{ i[1] }} type="checkbox">{{ i[0] }}</label>
                        </div>
                        {% endfor %}
                </details>
                <details class="products4cooking">
                    <summary class="dropdown-toggle">Яйца</summary>
                        {% set eggs = [['Куриное яйцо', 'chicken_egg'], ['Перепелиное яйцо', 'quail_egg'], ['Страусиное яйцо', 'ostrich_egg']] %}
                        {% for i in eggs %}
                        <div class="">
                            <label><input class="listofproducts" name="ingredients" value={{ i[1] }} type="checkbox">{{ i[0] }}</label>
                        </div>
                        {% endfor %}
                </details>
                <details class="products4cooking">
                    <summary class="dropdown-toggle">Орехи</summary>
                        {% set nuts = [['Грецкий орех', 'walnut'], ['Миндаль', 'almond'], ['Фундук', 'hazelnut'], ['Арахис', 'peanut'], ['Кешью', 'cashew']] %}
                        {% for i in nuts %}
                        <div class="">
                            <label><input class="listofproducts" name="ingredients" value={{ i[1] }} type="checkbox">{{ i[0] }}</label>
                        </div>
                        {% endfor %}
                </details>
                <details class="products4cooking">
                    <summary class="dropdown-toggle">Специи</summary>
                        {% set spices = [['Соль', 'salt'], ['Перец', 'pepper'], ['Паприка', 'paprika'], ['Куркума', 'turmeric'], ['Базилик', 'basil'], ['Чабрец', 'thyme'], ['Чеснок сушеный', 'dried_garlic']] %}
                        {% for i in spices %}
                        <div class="">
                            <label><input class="listofproducts" name="ingredients" value={{ i[1] }} type="checkbox">{{ i[0] }}</label>
                        </div>
                        {% endfor %}
                </details>
                <details class="products4cooking">
                    <summary class="dropdown-toggle">Бобовые культуры</summary>
                        {% set legumes = [['Фасоль', 'beans'], ['Горох', 'peas'], ['Чечевица', 'lentils'], ['Нут', 'chickpeas']] %}
                        {% for i in fruits %}
                        <div class="">
                            <label><input class="listofproducts" name="ingredients" value={{ i[1] }} type="checkbox">{{ i[0] }}</label>
                        </div>
                        {% endfor %}
                </details>
                <details class="products4cooking">
                    <summary class="dropdown-toggle">Разное</summary>
                        {% set misc = [['Сахар', 'sugar'], ['Майонез', 'mayonnaise'], ['Кетчуп', 'ketchup'], ['Уксус', 'vinegar'], ['Соевый соус', 'soy_sauce'], ['Разрыхлитель', 'baking_powder'], ['Какао', 'cocoa'], ['Дрожжи', 'yeast']] %}
                        {% for i in misc %}
                        <div class="">
                            <label><input class="listofproducts" name="ingredients" value={{ i[1] }} type="checkbox">{{ i[0] }}</label>
                        </div>
                        {% endfor %}
                </details>
            </details>
            <hr>
            <div class="cont">
                <button type="submit" name="search_recipe" value="search" class="submit-button">Искать</button>
            </div>
        </div>
    </div>
    <button type="submit" name="ifexit" value="exit_" class="exit-button">Назад</button>
</form>
</body>
</html>