<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_sing_up.css">
    <script src="../static/js/script.js" defer></script>
    <title>Document</title>
</head>
<body>
<form method="POST" action="/submit_sing_up">
    <button class="but-sing_up-sing-in" name="submit_sing_up" type="submit" value="exit">Выход</button>
    <div class="cont">
        <h1>Sing Up</h1>
    </div>
    <div class="cont">
        <div>
            <div>
                <h3>Username</h3>
                <input type="text" class="input-sing_up" placeholder="Username" name="username">
            </div>
            <div>
                <h3>Email</h3>
                <input type="email" class="input-sing_up" placeholder="Email" name="email">
            </div>
            <div>
                <h3>Password</h3>
                <input type="password" class="input-sing_up" placeholder="Password" name="password">
            </div>
            <div>
                <h3>Confirm password</h3>
                <input type="password" class="input-sing_up" placeholder="Confirm_assword" name="confirm_password">
            </div>
            <div class="cont">
                <button type="submit" class="but-sing_up" action="submit_sing_up">Sing up</button>
            </div>
            <div class="cont">
                <button class="but-sing_up-sing-in" name="submit_sing_up" type="submit" value="go_to_sing_in">Sing in</button>
            </div>
        </div>
    </div>

</form>
</body>
</html>